<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pagina-donar.component.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="#"><img style="width: 100px; height: 100px;" src="assets/ecopop_logo.jpg"></a>
            <ul>
                <li><a routerLink="/" routerLinkActive="active">INICI</a></li>
                <li><a routerLink="/ongs-info" routerLinkActive="active">ONGS</a></li>
                <li><a routerLink="/cataleg" routerLinkActive="active">CATALEG</a></li>
                <li><a routerLink="/donar" routerLinkActive="active">DONAR</a></li>
            </ul>
            <div class="icons">
                <a href="#"><img src="assets/carrito.png"></a>
                <a href="#"><img src="assets/usuario.png"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="pantalla-principal">
                <a class="boton-donar"><img src="assets/camiseta.png"></a>
                <a class="boton-donar"><img src="assets/moneda.png"></a>
        </div>
        <div class="text-botons">
            <p>DONAR PRODUCTES</p>
            <p style="margin-left: 260px;">DONAR DINERS</p>
        </div>
    </main>

    <footer>
        <a class="logo-footer" href="#"><img src="assets/instagram.png"></a>
        <a class="logo-footer" href="#"><img src="assets/twitter.png"></a>
        <a class="logo-footer" href="#"><img src="assets/correo.png"></a>
    </footer>
</body>
</html>
