<body>
    <header>
        <nav>
            <a class="logo" routerLink="/pag-principal" routerLinkActive="active" ><img style="width: 100px; height: 100px;" src="assets/ecopop_logo.jpg"></a>
            <ul>
                <li><a routerLink="/pag-principal"  routerLinkActive="active"><button>INICI</button></a></li>
                <li><a href="/cateleg" routerLinkActive="active"><button>CATALEG</button></a></li>
                <li><a href="/ongs-info" routerLinkActive="active"><button>ONG</button></a></li>
                <li><a href="/punts" routerLinkActive="active"><button>PUNTS</button></a></li>
                <li><a routerLink="/donar" routerLinkActive="active"><button>DONAR</button></a></li>
            </ul>
            <div class="icons">
                <a href=""><img src="assets/carrito.png"></a>
                <a href="/usuario" routerLinkActive="active"><img src="assets/usuario.png"></a>
            </div>
        </nav>
    </header>
    
    <div class="imagen">
        <img src="https://picsum.photos/400/400" class="eco" formControlName="imagen">
    </div>

    <div class="formulario">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="name">
                <input type="text" formControlName="nombre">
                <label>Nombre:</label>
            </div>
    
            <div class="name">
                <input type="text" formControlName="apellidos">
                <label>Apellidos:</label>
            </div>
    
            <div class="name">
                <input type="email" formControlName="email">
                <label>Email:</label>
            </div>
    
            <div class="name">
                <input type="password" formControlName="contra">
                <label>Contraseña:</label>
            </div>
    
            <button type="submit">Editar</button>
        </form>
    </div>

    <footer>
        <a class="logo-footer" href=""><img src="assets/instagram.png"></a>
        <a class="logo-footer" href=""><img src="assets/twitter.png"></a>
        <a class="logo-footer" href=""><img src="assets/correo.png"></a>
    </footer>
</body>
