<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <title>Pantalla Principal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='pagina-donar-productos.component.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <nav>
            <a class="logo" routerLink="/" routerLinkActive="active"><img style="width: 100px; height: 100px;" src="assets/ecopop_logo.jpg"></a>
            <ul>
                <li><a href="#"><button>INICI</button></a></li>
                <li><a href="#"><button>ONG</button></a></li>
                <li><a href="#"><button>CATALEG</button></a></li>
                <li><a routerLink="/donar" routerLinkActive="active"><button>DONAR</button></a></li>
            </ul>
            <div class="icons">
                <a href="#"><img src="assets/carrito.png"></a>
                <a href="#"><img src="assets/usuario.png"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="pantalla-principal">
            <label id="ongs">Escull la ONG:</label>
            <select name="ongs" id="ongs">
                <option value="Cruz Roja Española">Cruz Roja Española</option>
                <option value="Cáritas">Cáritas</option>
                <option value="Fundación Ayuda en Acción">Fundación Ayuda en Acción</option>
            </select><br><br>

            <div class="contenedores">
                <div class="contenedor">
                    <p>Roba i sabates</p><br>
                    <label id="quantitat">Quantitat</label><br>
                    <select id="quantitat" name="quantitat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="contenedor">
                    <p>Material escolar</p><br>
                    <label id="quantitat">Quantitat</label><br>
                    <select id="quantitat" name="quantitat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="contenedor">
                    <p>Productes higiene</p><br>
                    <label id="quantitat">Quantitat</label><br>
                    <select id="quantitat" name="quantitat">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <a href="#"><button>CONTINUAR</button></a>
        </div>
    </main>

    <footer>
        <a class="logo-footer" href="#"><img src="assets/instagram.png"></a>
        <a class="logo-footer" href="#"><img src="assets/twitter.png"></a>
        <a class="logo-footer" href="#"><img src="assets/correo.png"></a>
    </footer>
</body>
</html>
