<body>
    <header>
        <nav>
            <a class="logo" routerLink="/pag-principal" routerLinkActive="active" ><img style="width: 100px; height: 100px;" src="assets/ecopop_logo.jpg"></a>
            <ul>
                <li><a routerLink="/pag-principal"  routerLinkActive="active"><button>INICI</button></a></li>
                <li><a href="/cateleg" routerLinkActive="active"><button>CATALEG</button></a></li>
                <li><a href="/ongs-info" routerLinkActive="active"><button>ONG</button></a></li>
                <li><a href="/punts" routerLinkActive="active"><button>PUNTS</button></a></li>
                <li><a routerLink="/donar" routerLinkActive="active"><button>DONAR</button></a></li>
            </ul>
            <div class="icons">
                <a href=""><img src="assets/carrito.png"></a>
                <a href="/usuario" routerLinkActive="active"><img src="assets/usuario.png"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="pantalla-principal">
            <h1 style="color: #06413D;">Troba el teu punt de contenedors Roba Amiga mes proper</h1>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Plaça l'Escorxador</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1773.7117769893496!2d0.6170226381228087!3d41.612171099536745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e013b1ffcd7d%3A0x59bd217d811105a3!2sPla%C3%A7a%20l&#39;Escorxador%2C%2025003%20Lleida!5e0!3m2!1ses!2ses!4v1708959084920!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Plaça del Clot de les Granotes</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.4942563546856!2d0.6201422766199027!3d41.62344688131893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e040e70832b9%3A0xd5603822b4321439!2sPla%C3%A7a%20del%20Clot%20de%20les%20Granotes%2C%2025008%20L%C3%A9rida!5e0!3m2!1ses!2ses!4v1708959548224!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Plaça de Víctor Siurana</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.7256820612345!2d0.6201208627766824!3d41.61461507673067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e014aabf7195%3A0xf087f7b394e66172!2sPla%C3%A7a%20de%20V%C3%ADctor%20Siurana%2C%20Lleida!5e0!3m2!1ses!2ses!4v1708960316387!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer Riu Besòs, 4</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1491.5846419400161!2d0.6261071389534086!3d41.60885089829491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e071d2876eaf%3A0x9d23ac8926762a2!2sCarrer%20Riu%20Bes%C3%B2s%2C%204%2C%2025001%20Lleida!5e0!3m2!1ses!2ses!4v1708960965128!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer Passeig de Ronda</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d418.50915103372256!2d0.6134087123902553!3d41.61696419038797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e017aae74d65%3A0xe118a4118422aea1!2sCarrefour!5e0!3m2!1ses!2ses!4v1708961091503!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer del Corregidor Escofet, 28</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.6170705498915!2d0.636923761303182!3d41.62400843158634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e05f29f1e305%3A0xff952c7b632fad5c!2sCarrer%20del%20Corregidor%20Escofet%2C%2028%2C%2025005%20Lleida!5e0!3m2!1ses!2ses!4v1708963025954!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Plaça d'españa, 4</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d527.343080722637!2d0.6208880654995989!3d41.61028546992578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e06d44821dd1%3A0x99b895570a3e6a0a!2sPla%C3%A7a%20d&#39;Espanya%2C%204%2C%2025002%20Lleida!5e0!3m2!1ses!2ses!4v1708963392506!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer Magí Morera, 59</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.6571329886374!2d0.6174605696471338!3d41.620543800760835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e03fcba674fb%3A0xffdecc3ea866f884!2sCarrer%20Mag%C3%AD%20Morera%2C%2059%2C%2025006%20Lleida!5e0!3m2!1ses!2ses!4v1708963484097!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Plaça Mossèn Jacint Verdaguer</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d372.82687600336277!2d0.6280414315594045!3d41.62083619981305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e042f3383e8d%3A0xfeacec0a98948a8d!2sPla%C3%A7a%20Moss%C3%A8n%20Jacint%20Verdaguer%2C%2025004%20Lleida!5e0!3m2!1ses!2ses!4v1708963555058!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer Agustins, 28</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.7705838682431!2d0.6352480696660228!3d41.61073120091339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e063156aa2bd%3A0xf9587e26bb680c6c!2sCarrer%20Agustins%2C%2028%2C%2025001%20Lleida!5e0!3m2!1ses!2ses!4v1708963659553!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Carrer del Penedès, 93</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.559493801725!2d0.6224190696471602!3d41.62898730062948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e0462c2a170f%3A0x429fc991ea307a78!2sCarrer%20del%20Pened%C3%A8s%2C%2093%2C%2025005%20Lleida!5e0!3m2!1ses!2ses!4v1708963909586!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="informacio-container">
                <div class="texto-container">
                    <h2>Enric Farreny, 41</h2>
                    <p>texto</p>
                </div>
                <div class="maps-container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.396939113275!2d0.6012334907592092!3d41.62555080712157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e026a0c3de25%3A0x399b1a6443e20bba!2sCarrer%20Enric%20Farreny%2C%2041%2C%2025199%20Lleida!5e0!3m2!1ses!2ses!4v1709044478393!5m2!1ses!2ses" 
                        width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <a class="logo-footer" href=""><img src="assets/instagram.png"></a>
        <a class="logo-footer" href=""><img src="assets/twitter.png"></a>
        <a class="logo-footer" href=""><img src="assets/correo.png"></a>
    </footer>
</body>
