<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar pedido</title>
</head>

<body>

    <header>
        <nav>
            <a class="logo" href=""><img style="width: 100px; height: 100px;" src="assets/ecopop_logo.jpg"></a>
            <ul>
                <li><a href="#">INICI</a></li>
                <li><a href="#">ONGS</a></li>
                <li><a href="#">CATALEG</a></li>
                <li><a href="#">DONAR</a></li>
            </ul>
            <div class="icons">
                <a href=""><img src="assets/carrito.png"></a>
                <a href=""><img src="assets/usuario.png"></a>
            </div>
        </nav>
    </header>

    <h1 class="titulo">Confirmar pedido</h1>
    <h2 class="subtitulo">Mi pedido</h2>

    <div class="linea">
        <p>samarreta</p>
        <p>50€</p>
    </div>

    <div class="linea">
        <p>Vaso</p>
        <p>29,99€</p>
    </div>

    <div class="linea">
        <p>Niño</p>
        <p>49,99€</p>
    </div>

    <div class="total">
        <p>Total: 129,98€</p>
    </div>

    <p class="seleccion">Escull l'ONG on anirà destinat el 15% de la compra</p>

    <div class="ong">
        <button class="ongg" style="margin: 10px;">Cáritas</button>
        <button class="cruz" style="margin: 10px;">Cruz Roja</button>
        <button class="ayuda" style="margin: 10px;">Ayuda en Acción</button>
    </div>

    <div class="confirm">
        <button class="confirmar">Confirmar</button>
    </div>




    <footer>
        <a class="logo-footer" href=""><img src="assets/instagram.png"></a>
        <a class="logo-footer" href=""><img src="assets/twitter.png"></a>
        <a class="logo-footer" href=""><img src="assets/correo.png"></a>
    </footer>

</body>

</html>