body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor-titulo {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 50px;
    position: absolute;
}

.border {
    color: #d8c5bb;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white;
}

.wave {
    color: #06413D;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

h1::after,h1::before{
    margin-top: 25px;
        content: '';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em;
        transform: scale(0);
        transition: all 0.2s ease-in;
}

h1:hover::before, h1:hover::after{
    transform: scale(1);
}

h1::before{
    left: -140px;
}
h1::after{
    right: -140px;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .name{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.name input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.name label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.name span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #06413D;
}

.name input:focus ~ label,
.name input:valid ~ label{
    top: -5px;
    color: #06413D;
}

.name input:focus ~ span::before,
.name input:focus ~ span::before{

        width: 100%;
}

button[type="submit"]{
    border: 1px solid #06413D;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    color: #06413D;
    position: relative;
    overflow: hidden;
    margin-left: 85px;
    }
    
    button[type="submit"]:hover{
    color: #fff;
    }
    
    button[type="submit"]::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #06413D;
        z-index: -1;
        transition: 0.8s;
        top: 0;
        border-radius: 0 0 50% 50%;
    }
    
    button[type="submit"]:hover::before{
        height: 180%;
    }

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #06413D;
}

nav {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos a los extremos */
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

li {
    display: inline-block;
    margin-right: 20px;
    border: 2px solid #f1dfd5;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

li:hover {
    background-color: #0b302d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: #f1e1d7;
    font-size: 20px;
    font-weight: bold;
}


.icons img {
    width: 60px;
    margin-left: 10px;
    padding: 10px 10px;
}

footer {
    justify-content: center;
    background-color: #06413D;
    color: #f1dfd5;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .logo-footer img {
    width: 30px;
    padding: 10px 20px;
}